/* Primary styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=cyrillic,latin);

html, body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  height: 0;
  background-color: darkorange;
  min-height: 100%;
	font-family: sans-serif;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	
}

main {
	width: 60%;
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	align-self: center;
	height: 520px;
	margin: auto;
	 border-radius: 1%;
} 

main a {
	display: flex;
	width: 90%; 
	border-bottom: 1px solid orange;
	text-decoration: none;
	padding-left: 20px;
	color: green;
	align-items: center;
} 

main h1 {
	margin: -40px 0px 20px 20px;
	color: white;
} 

.line {
	box-sizing: border-box;
	display: flex;
	padding: 15px;
	margin-left: 20px;
}

.circle {
  width: 30px; height: 30px;
  border-radius: 50%;
  background: yellowgreen;
}