html, body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  height: 0;
  min-height: 100%;
	font-family: sans-serif;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;	
}

header {
display: flex;
align-self: flex-start;
width: 100%;
height: 80px;
background-color: cornflowerblue;	
}

main {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-self: center;
	min-height: 90%;
	margin: -20px auto;
} 

.lab {
	display: flex;
	flex-direction: row;
}

.lab a {
	text-decoration: none;
	padding: 20px;
	width: 100%;
	z-index: 1;
	box-sizing: border-box; 
	color: white;
	margin-left: 20px;
}

.lab:nth-child(1), .lab:nth-child(4), .lab:nth-child(7), .lab:nth-child(10), .lab:nth-child(13), .lab:nth-child(16),  .lab:nth-child(19),  .lab:nth-child(22), .lab:nth-child(25)  {
	background-color:orange;
}

.lab:nth-child(2), .lab:nth-child(5), .lab:nth-child(8), .lab:nth-child(11), .lab:nth-child(14), .lab:nth-child(17), .lab:nth-child(20), 
.lab:nth-child(23), .lab:nth-child(26) {
	background-color: darkorange;
}
.lab:nth-child(3), .lab:nth-child(6), .lab:nth-child(9), .lab:nth-child(12), .lab:nth-child(15), .lab:nth-child(18), .lab:nth-child(21), 
.lab:nth-child(24), .lab:nth-child(27) {
	background-color: #f46904;
}
.circle {
  display: flex;
  width: 40px; height: 40px;
  border-radius: 50%;
  background: yellowgreen;
  margin-left: -90px;
  z-index: 0;
  align-self: center;
}
